<% if @user.errors.any? %>
  <p>Oops - there were problems with your submission. Please fix the following:</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for (@user) do |f| %>

  <div class="field">
     <%= f.label :name %><br />
     <%= f.text_field :name %>
  </div>
  <div class="field">
     <%= f.label :email %><br />
     <%= f.email_field :email %>
  </div>
  <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </div>

  <div>
  <%= f.submit "Submit" %>
  </div>

<% end %>
