<div class="nested-fields">

<div>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
</div>

<div>
  <%= f.label :reward %>
  <%= f.text_field :reward %>
</div>

<div>
  <%= f.label :delivery %>
  <%= f.date_select :delivery %>
</div>

  <%= link_to_remove_association "cancel", f %>

</div>
