<div>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
</div>

<div>
  <%= f.label :reward %>
  <%= f.text_field :reward %>
</div>

<div>
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

<%= link_to_remove_association "remove pledge", f %>
