<h1>All Projects</h1>


<% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
    <%= project.image %>
    <%= project.name %>
    <%= project.description %>
    <%= project.location %>
    <%= project.goal %>
    <%= project.deadline %>
  <% end %>
<% end %>
