<h1><%= @project.name %></h1>

<div class = "project-info">
  <li><img src='<%= @project.image %>'></li>
  <li><%= @project.name %></li>
  <li><%= @project.description %></li>
  <li><%= @project.location %></li>
  <li><%= @project.goal %></li>
  <li><%= @project.deadline %></li>
</div>

<div class = "pledges-list">
  <% @project.pledges.each do |pledge| %>
    <%= pledge.amount %>
    <%= pledge.reward %>
    <%= pledge.delivery %>
  <% end %>
</div>


<% if current_user.id == @project.user_id %>
  <%= link_to "Edit Project", edit_project_path(@project) %>
  <%= link_to "Delete Project", @project, method: :delete, data: {confirm: "Are you sure you want to delete
    this project?"} %>
<% end %>
